section > img {
  left: 90%;
}

b {
  font-size: 2em;
  margin: 0;
}

/* SCROLL SECTION */
.scroll {
  overflow: auto; 
  white-space: nowrap;
  padding: 90px;
}

.scroll > img {
  padding-right: 100px;
}

/* CONTACTS */
article {
  display: grid;
  grid-template-columns: 110px calc(100% - 110px);
  grid-template-rows: 1fr 2fr;
  border-top: 2px #312783 solid;
}

article > h3 {
  grid-column: 1 / span 2;
  font-size: 2em;
  padding: 10px;
  margin: 0px;
  border-bottom: 2px #312783 solid;
}

article > h3:hover{
  background-color: #312783;
  color: white;
  transition: 0.5s;
}

article > address {
  grid-column: 2;
  padding: 10px;
  margin: 0px;
}

h3 {
  font-size: 2em;
  margin: 0;
}

th, td {
  padding: 10px;
  width: calc(100%/4);
}

th {
  text-align: start;
  border-top: 1px #312783 solid;
  border-bottom: 1px #312783 solid;
  cursor: pointer;
  transition: 0.5s;
}

th:hover, th:active {
  background-color: #312783;
  color: white;
}

tbody > tr > td {
  padding-left: 110px;
  text-align: start;
  border-right: 2px #312783 solid;
}